
:root {

--app-color-primary--white: 255,255,255;
--app-color-primary--black: 100,100,100;
--app-color-primary--orange--midtone: 220, 110, 45;

/*
--app-color-primary--gray--highlight: 245,247,250;
--app-color-primary--blue--midtone: 0,156,222;
--app-color-secondary--gray-b--dark: 84,95,101;

--app-font-primary--sans-serif--thin: "app-font-primary-sans-serif-thin";
--app-font-primary--sans-serif--light: "app-font-primary-sans-serif-light";
--app-font-primary--sans-serif--regular: "app-font-primary-sans-serif-regular";
--app-font-primary--sans-serif--medium: "app-font-primary-sans-serif-medium";
--app-font-primary--sans-serif--bold: "app-font-primary-sans-serif-bold";
*/

}